
.appLayout{
    display: flex;
    height: 100vh;    
    overflow: hidden; 
    
}


.sideNavSection{
    width: 20vw;
}


.contentSection{
    border: 1px solid #00547B;
    width: 100%;
    overflow-y: auto; 

}


.backBtn{
    background-color: rgba(255, 0, 0, 0);
    border: none;
}

.backBtnIcon{
    height: 35px;
    width: 35px;
}
