

.postForm{
    display: flex;
    flex-direction: column;
    min-height: 15vh;
    border: 1px solid #00547B;
    background-color: rgb(0, 26, 44);
    gap: 10px;
    padding: 10px;
}


.postFormInput{
    width: 100%;
    background-color: rgb(0, 26, 44);
    border: none;
    padding: 10px;
    min-height: 10vh;
    height: auto;
}


.postFormBtn{
    background-color: #00547B;
    border: none;
    border-radius: 5px;
    width: 10vw;
    height: 2vw;
    
}

.imgUploadBtn {
    height: 30px;
    width: 30px;
}

.feedUploadImgBtn{
    width: 50px;
    display: flex;
    align-items: center;
}

.imagePreviewWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.postImagePreveiw {
    height: auto;
    width: 30vw;

}

.removeImageBtn{
    background-color: #e03c3c;
    border: none;
    border-radius: 5px;
    width: fit-content;
    height: 2vw; 
}

.postFormWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

}