

.loginWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: 
    linear-gradient(#3F3051,#281F33) padding-box,
    linear-gradient(to top, #3F3051 30%, #281F33 100%) border-box;
    background-image: 
    url("src/assets/background.jpg");
    background-size: 100% 100%;

}


.formWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: 
    linear-gradient(#00547B,rgb(0, 19, 33)) padding-box,
    linear-gradient(to top, #3F3051 30%, #281F33 100%) border-box;
    padding: 2%;
    width: 30vw;


    border-radius: 10px;

}

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.loginInput{    
    background-color: rgb(0, 19, 33);
    border: none;
    height: 30px;
    border-radius: 10px;
    padding: 2%;
}

.loginBtn{
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: #00547B;;
    height: 3vh;
}