
.userCardWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-primary);
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    padding: 5px;
}


.UCProfilepic{
    height: 70px;
    width: 70px;
    object-fit: cover;
    image-rendering: smooth;
    border-radius: 50%;
    border: 4px solid var(--bg-secondary);
    cursor: pointer;
}

.UCUserInfoWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 20px;

}
.UCUserInfo{
    display: flex;
    flex-direction: column;

}

.UCUsername{
    font-size: 1.1rem;
    color: var(--text-primary);
    cursor: pointer;
}


.UCname{
    font-size: 0.9rem;
    color: var(--text-secondary);
}

.removeBtn{
   height: 25px;
    background-color: var(--bg-btn);
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

