/* Josh Comeau's CSS reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}


/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* custom border and focus */
input[type="number"] {
  border: 1px solid #bbb;       /* your normal border */
  padding: 0.5rem;
  outline: none;                 /* remove default focus outline */
  transition: border-color 0.2s;
}

input[type="number"]:focus {
  border-color: #000000;        /* highlight on focus */
}

:root {
  font-family: 'Space Grotesk', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-body:    #000000;
  --bg-primary: #131519;
  --bg-secondary: rgb(0, 19, 33);
  --bg-input:   #d6d6d616;
  --text-primary: aliceblue;
  --text-secondary: rgb(168, 168, 168);
  --bg-btn: #22C3E6;

}

body.light-mode {
  --bg-body:    #e5e5e5;
  --bg-primary: #ffffff;
  --bg-secondary: #e8eaed;
  --bg-input:   #d8dce2;
  --text-primary: #111111;
  --text-secondary: #555555;
  --bg-btn: #22C3E6;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-body);
  color: var(--text-primary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

html {
  overflow-y: scroll;
}